@font-face {
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.ttf') format('truetype');
  }

body {
    background-color: #12343b;
    color: #e1b382;
    font-family: 'Minecraft', monospace;
    image-rendering: pixelated;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    overflow: hidden;
}

.containerMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    height: 100vh;
    max-height: 100%;
}

.timerButtons,
.soundButtons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#soundName {
    text-align: center;
}

#countdown {
    font-size: 80px;
    text-align: center;
    padding: 0;
    margin: 0;
    /* margin-top: 30px; */
    /* margin-bottom: 10px; */
}

button {
    background-color: #2d545e;
    color: #e1b382;
    border-color: #c89666;
    
    border-radius: 8px;
    padding: 5px;
    font-family: 'Minecraft', monospace;
    image-rendering: pixelated;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    /* text-align: center; */
    
    /* align-items: center;
    display: flex;
    justify-content: center; */
    /* line-height: 1; */

    /* margin: 0; */
}

button:hover {
    transform: scale(1.05);
    background-color: #c89666;
    color: #12343b;
}

button:active {
    transform: scale(0.95);
    background-color: #c89666;
  }

/* .timerButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.soundButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
} */

